<div class="video-container">
  <video controls>
    <source src="https://media-hosting.imagekit.io//062abd608e7b46da/sample-10s.mp4?Expires=1834469376&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=cO-PdXkPvLMPMVCurDNwGfzbuXIzSfesXmVAW1zoJXVHP-bvgeletYgFmF7USj8ogcxxM57diXPfdPQCN1oIL~WLjwnkJcQGxtByLFHcd0jCRR63zltCwkjZyHuDzVTZkalRTthNyX35YtaAAa9vgdxQjoKst9ULtxqxhYUenz4r7oSZjL2o5S-nviEObWmtV~UbyGgc51OjMJAVGajTCIuBGy4uBeQTBMzAn1iFt~iDhhxxgQK2QDQNj-HdgqKgTT651uxiuCy--~8vYsG1dnwVWbfhaAPX5hHavqvJFOAgAjTwTAAgrGSk3yeYgsxshOEqbzya0Gz-SPtcNJ-5NA__" type="video/mp4"/>

    <p>
      Your browser doesn't support HTML video. Here is a
      <a href="sample-10s.mp4">link to the video</a> instead.
    </p>
  </video>
</div>